<div class="container">
  <h1>Movie blog</h1>
  <p>自分だけの映画記録を作ろう</p>
  
  <%= link_to "Sign Up", new_user_registration_path,class: "btn btn-primary" %> 
  <%= link_to "Log In" ,new_user_session_path,class: "btn btn-success" %> 

</div>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.2.0/fabric.min.js"></script>
  <p id="controller">
    <button id="delete">クリア</button>
    <select id="otehon_selecter">
      <option value="1.png">あ〜さ行</option>
      <option value="2.png">た〜は行</option>
      <option value="3.png">ま〜わ行</option>
      <option value="4.png">すべて（小）</option>
    </select>
    <button id="reload">再読み込み</button>
  </p>
  <div id="canvas-container">
    <canvas id="canvas"></canvas>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const OTEHON_DIR = "./otehon/";
      const PEN_WIDTH = 5;
      const PEN_COLOR = "rgb(0,0,0)";
      let otehon_file = "1.png";
      const canvas_element = document.getElementById("canvas");
      canvas_element.width = document.documentElement.clientWidth;
      canvas_element.height = document.documentElement.clientHeight - 50;

      const canvas = new fabric.Canvas('canvas');

      loadOtehon(otehon_file);


      canvas.freeDrawingBrush.color = PEN_COLOR;
      canvas.freeDrawingBrush.width = PEN_WIDTH;
      canvas.isDrawingMode = true;

      document.getElementById("delete").addEventListener("click", cleanCanvas);

      var selecter = document.getElementById('otehon_selecter');

      selecter.onchange = function () {
        otehon_file = this.value;
        loadOtehon(otehon_file);
        cleanCanvas();
      }

      function loadOtehon(filename) {
        const filePath = OTEHON_DIR + filename;
        fabric.Image.fromURL(filePath, function (otehonImg) {
          if (canvas.width / canvas.height > otehonImg.width / otehonImg.height) {
            otehonImg.scaleToHeight(canvas.height);
          } else {
            otehonImg.scaleToWidth(canvas.width);
          }
          canvas.setBackgroundImage(otehonImg, canvas.renderAll.bind(canvas), {
            left: (canvas.width - otehonImg.width * otehonImg.scaleX) / 2,
            opacity: 0.2
          });
        });
      }

      function cleanCanvas() {
        canvas.getObjects().forEach(element => {
          canvas.remove(element);
        });
        canvas.requestRenderAll();
      }

      document.getElementById("reload").addEventListener("click", () => {
        console.log("reload");
        window.location.reload();
      });


    });
  </script>
</body>

</html>