<div class="container">
  <h1>Movie blog</h1>
  <p>自分だけの映画記録を作ろう</p>
  
  <%= link_to "Sign Up", new_user_registration_path,class: "btn btn-primary" %> 
  <%= link_to "Log In" ,new_user_session_path,class: "btn btn-success" %> 

</div>
